# Script that extracts 1million row sample for tableau public

# Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import os

# Importing Data

In [2]:
# Creating shortcut to folder
path = r'C:\Users\seank\OneDrive\Dokumente\Career Foundry Data Analytics Course\Data Immersion\6'

In [3]:
# Loading Data
data_all = pd.read_pickle(os.path.join(path, 'Data', 'flights_checked.csv'))

In [4]:
data_all.head()

,FL_DATE,AIRLINE,AIRLINE_DOT,AIRLINE_CODE,DOT_CODE,FL_NUMBER,ORIGIN,ORIGIN_CITY,DEST,DEST_CITY,...,Year,Hour_planned_dep,time_bin,delay15,delay30,delay60,delay_type,Origin_State_Code,Destination_State_Code,flight_length
0,2019-01-09,United,United Air Lines Inc.: UA,UA,19977,1562,FLL,"Fort Lauderdale, FL",EWR,"Newark, NJ",...,2019,11,09:00–13:00,0.0,0.0,0.0,On-time(<15m),FL,NJ,Medium Distance(1000-2000)
1,2022-11-19,Delta,Delta Air Lines Inc.: DL,DL,19790,1149,MSP,"Minneapolis, MN",SEA,"Seattle, WA",...,2022,21,21:00–01:00,0.0,0.0,0.0,On-time(<15m),MN,WA,Medium Distance(1000-2000)
2,2022-07-22,United,United Air Lines Inc.: UA,UA,19977,459,DEN,"Denver, CO",MSP,"Minneapolis, MN",...,2022,9,09:00–13:00,0.0,0.0,0.0,On-time(<15m),CO,MN,Short Distance(<1000)
3,2023-03-06,Delta,Delta Air Lines Inc.: DL,DL,19790,2295,MSP,"Minneapolis, MN",SFO,"San Francisco, CA",...,2023,16,13:00–17:00,1.0,0.0,0.0,Short_delay(<1h),MN,CA,Medium Distance(1000-2000)
4,2020-02-23,Spirit,Spirit Air Lines: NK,NK,20416,407,MCO,"Orlando, FL",DFW,"Dallas/Fort Worth, TX",...,2020,18,17:00–21:00,0.0,0.0,0.0,On-time(<15m),FL,TX,Short Distance(<1000)

In [5]:
# Loading coordinates of airports data
    # Downloaded from https://github.com/davidmegginson/ourairports-data/tree/main 
    # Documentation:  https://ourairports.com/data/ 

airport_latlong = pd.read_csv(os.path.join(path, 'Data', 'airports.csv'),
                              index_col=False)

In [6]:
airport_latlong.head()

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,icao_code,iata_code,gps_code,local_code,home_link,wikipedia_link,keywords
0,6523,00A,heliport,Total RF Heliport,40.070985,-74.933689,11.0,NaN,US,US-PA,Bensalem,no,NaN,NaN,K00A,00A,https://www.penndot.pa.gov/TravelInPA/airports...,NaN,NaN
1,323361,00AA,small_airport,Aero B Ranch Airport,38.704022,-101.473911,3435.0,NaN,US,US-KS,Leoti,no,NaN,NaN,00AA,00AA,NaN,NaN,NaN
2,6524,00AK,small_airport,Lowell Field,59.947733,-151.692524,450.0,NaN,US,US-AK,Anchor Point,no,NaN,NaN,00AK,00AK,NaN,NaN,NaN
3,6525,00AL,small_airport,Epps Airpark,34.864799,-86.770302,820.0,NaN,US,US-AL,Harvest,no,NaN,NaN,00AL,00AL,NaN,NaN,NaN
4,506791,00AN,small_airport,Katmai Lodge Airport,59.093287,-156.456699,80.0,NaN,US,US-AK,King Salmon,no,NaN,NaN,00AN,00AN,NaN,NaN,NaN

Merging coordinates to airports

In [7]:
airports = airport_latlong[['iata_code', 'longitude_deg', 'latitude_deg', 'name']]

In [8]:
# Merging origin airports coords
df = pd.merge(data_all, airports,
              how = 'left',
              left_on = 'ORIGIN',
              right_on = 'iata_code').drop(columns='iata_code')
df.head()

,FL_DATE,AIRLINE,AIRLINE_DOT,AIRLINE_CODE,DOT_CODE,FL_NUMBER,ORIGIN,ORIGIN_CITY,DEST,DEST_CITY,...,delay15,delay30,delay60,delay_type,Origin_State_Code,Destination_State_Code,flight_length,longitude_deg,latitude_deg,name
0,2019-01-09,United,United Air Lines Inc.: UA,UA,19977,1562,FLL,"Fort Lauderdale, FL",EWR,"Newark, NJ",...,0.0,0.0,0.0,On-time(<15m),FL,NJ,Medium Distance(1000-2000),-80.152702,26.072599,Fort Lauderdale Hollywood International Airport
1,2022-11-19,Delta,Delta Air Lines Inc.: DL,DL,19790,1149,MSP,"Minneapolis, MN",SEA,"Seattle, WA",...,0.0,0.0,0.0,On-time(<15m),MN,WA,Medium Distance(1000-2000),-93.221741,44.880081,Minneapolis–Saint Paul International Airport /...
2,2022-07-22,United,United Air Lines Inc.: UA,UA,19977,459,DEN,"Denver, CO",MSP,"Minneapolis, MN",...,0.0,0.0,0.0,On-time(<15m),CO,MN,Short Distance(<1000),-104.672997,39.861698,Denver International Airport
3,2023-03-06,Delta,Delta Air Lines Inc.: DL,DL,19790,2295,MSP,"Minneapolis, MN",SFO,"San Francisco, CA",...,1.0,0.0,0.0,Short_delay(<1h),MN,CA,Medium Distance(1000-2000),-93.221741,44.880081,Minneapolis–Saint Paul International Airport /...
4,2020-02-23,Spirit,Spirit Air Lines: NK,NK,20416,407,MCO,"Orlando, FL",DFW,"Dallas/Fort Worth, TX",...,0.0,0.0,0.0,On-time(<15m),FL,TX,Short Distance(<1000),-81.308998,28.429399,Orlando International Airport

In [9]:
# Renaming before merging the destination details
df.rename(columns={'longitude_deg':'origin_long',
                   'latitude_deg':'origin_lat',
                       'name':'origin_airport'},
                       inplace=True)
df.columns

Index(['FL_DATE', 'AIRLINE', 'AIRLINE_DOT', 'AIRLINE_CODE', 'DOT_CODE',
       'FL_NUMBER', 'ORIGIN', 'ORIGIN_CITY', 'DEST', 'DEST_CITY',
       'CRS_DEP_TIME', 'DEP_TIME', 'DEP_DELAY', 'TAXI_OUT', 'WHEELS_OFF',
       'WHEELS_ON', 'TAXI_IN', 'CRS_ARR_TIME', 'ARR_TIME', 'ARR_DELAY',
       'CANCELLED', 'CANCELLATION_CODE', 'DIVERTED', 'CRS_ELAPSED_TIME',
       'ELAPSED_TIME', 'AIR_TIME', 'DISTANCE', 'DELAY_DUE_CARRIER',
       'DELAY_DUE_WEATHER', 'DELAY_DUE_NAS', 'DELAY_DUE_SECURITY',
       'DELAY_DUE_LATE_AIRCRAFT', 'top5_airline', 'Month', 'Day_of_week',
       'Year', 'Hour_planned_dep', 'time_bin', 'delay15', 'delay30', 'delay60',
       'delay_type', 'Origin_State_Code', 'Destination_State_Code',
       'flight_length', 'origin_long', 'origin_lat', 'origin_airport'],
      dtype='object')

In [10]:
# Merging destination coordinates
df = pd.merge(df, airports,
              how = 'left',
              left_on = 'DEST',
              right_on = 'iata_code').drop(columns='iata_code')
df.head()

,FL_DATE,AIRLINE,AIRLINE_DOT,AIRLINE_CODE,DOT_CODE,FL_NUMBER,ORIGIN,ORIGIN_CITY,DEST,DEST_CITY,...,delay_type,Origin_State_Code,Destination_State_Code,flight_length,origin_long,origin_lat,origin_airport,longitude_deg,latitude_deg,name
0,2019-01-09,United,United Air Lines Inc.: UA,UA,19977,1562,FLL,"Fort Lauderdale, FL",EWR,"Newark, NJ",...,On-time(<15m),FL,NJ,Medium Distance(1000-2000),-80.152702,26.072599,Fort Lauderdale Hollywood International Airport,-74.168701,40.692501,Newark Liberty International Airport
1,2022-11-19,Delta,Delta Air Lines Inc.: DL,DL,19790,1149,MSP,"Minneapolis, MN",SEA,"Seattle, WA",...,On-time(<15m),MN,WA,Medium Distance(1000-2000),-93.221741,44.880081,Minneapolis–Saint Paul International Airport /...,-122.310276,47.447943,Seattle–Tacoma International Airport
2,2022-07-22,United,United Air Lines Inc.: UA,UA,19977,459,DEN,"Denver, CO",MSP,"Minneapolis, MN",...,On-time(<15m),CO,MN,Short Distance(<1000),-104.672997,39.861698,Denver International Airport,-93.221741,44.880081,Minneapolis–Saint Paul International Airport /...
3,2023-03-06,Delta,Delta Air Lines Inc.: DL,DL,19790,2295,MSP,"Minneapolis, MN",SFO,"San Francisco, CA",...,Short_delay(<1h),MN,CA,Medium Distance(1000-2000),-93.221741,44.880081,Minneapolis–Saint Paul International Airport /...,-122.374821,37.619806,San Francisco International Airport
4,2020-02-23,Spirit,Spirit Air Lines: NK,NK,20416,407,MCO,"Orlando, FL",DFW,"Dallas/Fort Worth, TX",...,On-time(<15m),FL,TX,Short Distance(<1000),-81.308998,28.429399,Orlando International Airport,-97.038002,32.896801,Dallas Fort Worth International Airport

In [11]:
df.rename(columns={'longitude_deg':'dest_long',
                   'latitude_deg':'dest_lat',
                       'name':'dest_airport'},
                       inplace=True)
df.columns

Index(['FL_DATE', 'AIRLINE', 'AIRLINE_DOT', 'AIRLINE_CODE', 'DOT_CODE',
       'FL_NUMBER', 'ORIGIN', 'ORIGIN_CITY', 'DEST', 'DEST_CITY',
       'CRS_DEP_TIME', 'DEP_TIME', 'DEP_DELAY', 'TAXI_OUT', 'WHEELS_OFF',
       'WHEELS_ON', 'TAXI_IN', 'CRS_ARR_TIME', 'ARR_TIME', 'ARR_DELAY',
       'CANCELLED', 'CANCELLATION_CODE', 'DIVERTED', 'CRS_ELAPSED_TIME',
       'ELAPSED_TIME', 'AIR_TIME', 'DISTANCE', 'DELAY_DUE_CARRIER',
       'DELAY_DUE_WEATHER', 'DELAY_DUE_NAS', 'DELAY_DUE_SECURITY',
       'DELAY_DUE_LATE_AIRCRAFT', 'top5_airline', 'Month', 'Day_of_week',
       'Year', 'Hour_planned_dep', 'time_bin', 'delay15', 'delay30', 'delay60',
       'delay_type', 'Origin_State_Code', 'Destination_State_Code',
       'flight_length', 'origin_long', 'origin_lat', 'origin_airport',
       'dest_long', 'dest_lat', 'dest_airport'],
      dtype='object')

# Ordering DF and extracting sample

Ordering flights by most popular routes

In [12]:
# Caculatue number of flights per route
route_counts = (
    df
    .groupby(['ORIGIN', 'DEST'])
    .size()
    .reset_index(name='route_count')
)
route_counts

     ORIGIN DEST  route_count
0       ABE  ATL          398
1       ABE  BNA           48
2       ABE  CLT          483
3       ABE  DEN            1
4       ABE  DTW          292
...     ...  ...          ...
7780    YAK  CDV          155
7781    YAK  JNU          168
7782    YKM  SEA          152
7783    YUM  DFW          210
7784    YUM  PHX          621

[7785 rows x 3 columns]

In [13]:
# Merge this onto main df
df = df.merge(route_counts, on=['ORIGIN', 'DEST'])

# Sort by route frequency
df.sort_values('route_count', 
               ascending=False,
               inplace=True)
df.head()

,FL_DATE,AIRLINE,AIRLINE_DOT,AIRLINE_CODE,DOT_CODE,FL_NUMBER,ORIGIN,ORIGIN_CITY,DEST,DEST_CITY,...,Origin_State_Code,Destination_State_Code,flight_length,origin_long,origin_lat,origin_airport,dest_long,dest_lat,dest_airport,route_count
2653487,2019-02-09,Delta,Delta Air Lines Inc.: DL,DL,19790,2700,SFO,"San Francisco, CA",LAX,"Los Angeles, CA",...,CA,CA,Short Distance(<1000),-122.374821,37.619806,San Francisco International Airport,-118.407997,33.942501,Los Angeles International Airport,5358
1962119,2021-12-10,United,United Air Lines Inc.: UA,UA,19977,552,SFO,"San Francisco, CA",LAX,"Los Angeles, CA",...,CA,CA,Short Distance(<1000),-122.374821,37.619806,San Francisco International Airport,-118.407997,33.942501,Los Angeles International Airport,5358
1238529,2023-02-21,Southwest,Southwest Airlines Co.: WN,WN,19393,2174,SFO,"San Francisco, CA",LAX,"Los Angeles, CA",...,CA,CA,Short Distance(<1000),-122.374821,37.619806,San Francisco International Airport,-118.407997,33.942501,Los Angeles International Airport,5358
430197,2022-12-07,Southwest,Southwest Airlines Co.: WN,WN,19393,1525,SFO,"San Francisco, CA",LAX,"Los Angeles, CA",...,CA,CA,Short Distance(<1000),-122.374821,37.619806,San Francisco International Airport,-118.407997,33.942501,Los Angeles International Airport,5358
430186,2021-06-04,SkyWest,SkyWest Airlines Inc.: OO,OO,20304,3318,SFO,"San Francisco, CA",LAX,"Los Angeles, CA",...,CA,CA,Short Distance(<1000),-122.374821,37.619806,San Francisco International Airport,-118.407997,33.942501,Los Angeles International Airport,5358

In [14]:
# Create variable for number of flights leaving from an airport before the sampling, since this will be biased in statistics based off sample
departure_count = (
    df
    .groupby('ORIGIN')
    .size()
    .reset_index(name='airport_departures_tot')
)
departure_count

    ORIGIN  airport_departures_tot
0      ABE                    2023
1      ABI                     901
2      ABQ                    9284
3      ABR                     332
4      ABY                     436
..     ...                     ...
375    XNA                    4980
376    XWA                     433
377    YAK                     323
378    YKM                     152
379    YUM                     831

[380 rows x 2 columns]

In [15]:
# Add to main df
df = df.merge(departure_count, 
         on='ORIGIN')
df.head()

,FL_DATE,AIRLINE,AIRLINE_DOT,AIRLINE_CODE,DOT_CODE,FL_NUMBER,ORIGIN,ORIGIN_CITY,DEST,DEST_CITY,...,Destination_State_Code,flight_length,origin_long,origin_lat,origin_airport,dest_long,dest_lat,dest_airport,route_count,airport_departures_tot
0,2019-02-09,Delta,Delta Air Lines Inc.: DL,DL,19790,2700,SFO,"San Francisco, CA",LAX,"Los Angeles, CA",...,CA,Short Distance(<1000),-122.374821,37.619806,San Francisco International Airport,-118.407997,33.942501,Los Angeles International Airport,5358,59531
1,2021-12-10,United,United Air Lines Inc.: UA,UA,19977,552,SFO,"San Francisco, CA",LAX,"Los Angeles, CA",...,CA,Short Distance(<1000),-122.374821,37.619806,San Francisco International Airport,-118.407997,33.942501,Los Angeles International Airport,5358,59531
2,2023-02-21,Southwest,Southwest Airlines Co.: WN,WN,19393,2174,SFO,"San Francisco, CA",LAX,"Los Angeles, CA",...,CA,Short Distance(<1000),-122.374821,37.619806,San Francisco International Airport,-118.407997,33.942501,Los Angeles International Airport,5358,59531
3,2022-12-07,Southwest,Southwest Airlines Co.: WN,WN,19393,1525,SFO,"San Francisco, CA",LAX,"Los Angeles, CA",...,CA,Short Distance(<1000),-122.374821,37.619806,San Francisco International Airport,-118.407997,33.942501,Los Angeles International Airport,5358,59531
4,2021-06-04,SkyWest,SkyWest Airlines Inc.: OO,OO,20304,3318,SFO,"San Francisco, CA",LAX,"Los Angeles, CA",...,CA,Short Distance(<1000),-122.374821,37.619806,San Francisco International Airport,-118.407997,33.942501,Los Angeles International Airport,5358,59531

In [16]:
df.isna().sum()

FL_DATE                          0
AIRLINE                          0
AIRLINE_DOT                      0
AIRLINE_CODE                     0
DOT_CODE                         0
FL_NUMBER                        0
ORIGIN                           0
ORIGIN_CITY                      0
DEST                             0
DEST_CITY                        0
CRS_DEP_TIME                     0
DEP_TIME                     77615
DEP_DELAY                    77644
TAXI_OUT                     78806
WHEELS_OFF                   78806
WHEELS_ON                    79942
TAXI_IN                      79942
CRS_ARR_TIME                     0
ARR_TIME                     79940
ARR_DELAY                    86196
CANCELLED                        0
CANCELLATION_CODE          2920858
DIVERTED                         0
CRS_ELAPSED_TIME                14
ELAPSED_TIME                 86196
AIR_TIME                     86196
DISTANCE                         0
DELAY_DUE_CARRIER          2466135
DELAY_DUE_WEATHER          2466135
DELAY_DUE_NAS              2466135
DELAY_DUE_SECURITY         2466135
DELAY_DUE_LATE_AIRCRAFT    2466135
top5_airline                     0
Month                            0
Day_of_week                      0
Year                             0
Hour_planned_dep                 0
time_bin                         0
delay15                      86196
delay30                      86196
delay60                      86196
delay_type                   86196
Origin_State_Code                0
Destination_State_Code           0
flight_length                    0
origin_long                     57
origin_lat                      57
origin_airport                  57
dest_long                       65
dest_lat                        65
dest_airport                    65
route_count                      0
airport_departures_tot           0
dtype: int64

In [ ]:
miss_check_dest = df[df['dest_airport'].isna()]
miss_check_dest['DEST'].value_counts()

In [ ]:
miss_check_orig = df[df['origin_airport'].isna()]
miss_check_orig['ORIGIN'].value_counts()

In [ ]:
df[['origin_airport', 'dest_airport']] = df[['origin_airport', 'dest_airport']].fillna('Sloulin Field International Airport')
df[['origin_lat', 'dest_lat']] = df[['origin_lat', 'dest_lat']].fillna(48.178056)   # assigning latitude
df[['origin_long', 'dest_long']] = df[['origin_long', 'dest_long']].fillna(-103.642222)     # assigning longitude
df.isna().sum()

In [24]:
# First dropping cancelled and diverted flights
df_flew = df[(df['CANCELLED'] != 1) & (df['DIVERTED'] != 1)]
df_flew.isna().sum()

FL_DATE                          0
AIRLINE                          0
AIRLINE_DOT                      0
AIRLINE_CODE                     0
DOT_CODE                         0
FL_NUMBER                        0
ORIGIN                           0
ORIGIN_CITY                      0
DEST                             0
DEST_CITY                        0
CRS_DEP_TIME                     0
DEP_TIME                         0
DEP_DELAY                        0
TAXI_OUT                         0
WHEELS_OFF                       0
WHEELS_ON                        0
TAXI_IN                          0
CRS_ARR_TIME                     0
ARR_TIME                         0
ARR_DELAY                        0
CANCELLED                        0
CANCELLATION_CODE          2913802
DIVERTED                         0
CRS_ELAPSED_TIME                 0
ELAPSED_TIME                     0
AIR_TIME                         0
DISTANCE                         0
DELAY_DUE_CARRIER          2379939
DELAY_DUE_WEATHER          2379939
DELAY_DUE_NAS              2379939
DELAY_DUE_SECURITY         2379939
DELAY_DUE_LATE_AIRCRAFT    2379939
top5_airline                     0
Month                            0
Day_of_week                      0
Year                             0
Hour_planned_dep                 0
time_bin                         0
delay15                          0
delay30                          0
delay60                          0
delay_type                       0
Origin_State_Code                0
Destination_State_Code           0
flight_length                    0
origin_long                      0
origin_lat                       0
origin_airport                   0
dest_long                        0
dest_lat                         0
dest_airport                     0
route_count                      0
airport_departures_tot           0
dtype: int64

In [25]:
df_flew.columns

Index(['FL_DATE', 'AIRLINE', 'AIRLINE_DOT', 'AIRLINE_CODE', 'DOT_CODE',
       'FL_NUMBER', 'ORIGIN', 'ORIGIN_CITY', 'DEST', 'DEST_CITY',
       'CRS_DEP_TIME', 'DEP_TIME', 'DEP_DELAY', 'TAXI_OUT', 'WHEELS_OFF',
       'WHEELS_ON', 'TAXI_IN', 'CRS_ARR_TIME', 'ARR_TIME', 'ARR_DELAY',
       'CANCELLED', 'CANCELLATION_CODE', 'DIVERTED', 'CRS_ELAPSED_TIME',
       'ELAPSED_TIME', 'AIR_TIME', 'DISTANCE', 'DELAY_DUE_CARRIER',
       'DELAY_DUE_WEATHER', 'DELAY_DUE_NAS', 'DELAY_DUE_SECURITY',
       'DELAY_DUE_LATE_AIRCRAFT', 'top5_airline', 'Month', 'Day_of_week',
       'Year', 'Hour_planned_dep', 'time_bin', 'delay15', 'delay30', 'delay60',
       'delay_type', 'Origin_State_Code', 'Destination_State_Code',
       'flight_length', 'origin_long', 'origin_lat', 'origin_airport',
       'dest_long', 'dest_lat', 'dest_airport', 'route_count',
       'airport_departures_tot'],
      dtype='object')

In [29]:
# limiting columns for import
df_tableau = df_flew[['FL_DATE', 'AIRLINE', 'FL_NUMBER', 'ORIGIN', 'ORIGIN_CITY', 'DEST', 'DEST_CITY',
       'ARR_DELAY', 'DISTANCE', 'DELAY_DUE_CARRIER',
       'DELAY_DUE_WEATHER', 'DELAY_DUE_NAS', 'DELAY_DUE_SECURITY',
       'DELAY_DUE_LATE_AIRCRAFT', 'top5_airline', 'Month', 'Day_of_week',
       'Year', 'Hour_planned_dep', 'time_bin', 'delay15', 'delay30', 'delay60',
       'delay_type', 'Origin_State_Code', 'Destination_State_Code',
       'flight_length', 'origin_long', 'origin_lat', 'origin_airport',
       'dest_long', 'dest_lat', 'dest_airport', 'route_count',
       'airport_departures_tot']].copy()

In [30]:
df_tableau.shape

(2913802, 35)

In [31]:
# making sure it's sorted before exporting
df_tableau.sort_values('route_count', 
               ascending=False,
               inplace=True)
df_tableau.head()

,FL_DATE,AIRLINE,FL_NUMBER,ORIGIN,ORIGIN_CITY,DEST,DEST_CITY,ARR_DELAY,DISTANCE,DELAY_DUE_CARRIER,...,Destination_State_Code,flight_length,origin_long,origin_lat,origin_airport,dest_long,dest_lat,dest_airport,route_count,airport_departures_tot
0,2019-02-09,Delta,2700,SFO,"San Francisco, CA",LAX,"Los Angeles, CA",-13.0,337.0,NaN,...,CA,Short Distance(<1000),-122.374821,37.619806,San Francisco International Airport,-118.407997,33.942501,Los Angeles International Airport,5358,59531
3559,2020-01-13,American,890,SFO,"San Francisco, CA",LAX,"Los Angeles, CA",-8.0,337.0,NaN,...,CA,Short Distance(<1000),-122.374821,37.619806,San Francisco International Airport,-118.407997,33.942501,Los Angeles International Airport,5358,59531
3577,2022-07-31,SkyWest,6270,SFO,"San Francisco, CA",LAX,"Los Angeles, CA",-21.0,337.0,NaN,...,CA,Short Distance(<1000),-122.374821,37.619806,San Francisco International Airport,-118.407997,33.942501,Los Angeles International Airport,5358,59531
3576,2019-08-20,United,1200,SFO,"San Francisco, CA",LAX,"Los Angeles, CA",-13.0,337.0,NaN,...,CA,Short Distance(<1000),-122.374821,37.619806,San Francisco International Airport,-118.407997,33.942501,Los Angeles International Airport,5358,59531
3575,2019-08-15,Delta,777,SFO,"San Francisco, CA",LAX,"Los Angeles, CA",6.0,337.0,NaN,...,CA,Short Distance(<1000),-122.374821,37.619806,San Francisco International Airport,-118.407997,33.942501,Los Angeles International Airport,5358,59531

In [ ]:
df_tableau.to_csv(os.path.join(path, 'Data', 'flights_tableau.csv'),
                  index=False)  # checked and it's less than 1GB so I can load whole df into tableau